<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>上海对外经贸大学</title>
  <style>
    body {
      background-image: url("./微信图片_20231113171108.jpg");
      background-size: cover;
    }

    .icon {
      position: fixed;
      bottom: 0;
      width: 50%;
      text-align: center;
      padding: 75px;
      background-color: #f1f1f1;
    }
  </style>
</head>
<body>
  <h1>上海对外经贸大学</h1>
  <div class="icon">
    <a href="https://news.suibe.edu.cn/12512/list.htm" target="_blank">
         <img src="./微信图片_20231113171357.jpg" alt="校园要闻" title="校园要闻" width="100px" height="80px">
    </a>
    <a href="https://news.suibe.edu.cn/12513/list.htm">
        <img src="./微信图片_20231113171357.jpg" width="100px" height="80px" title="新闻快讯"></a>
    <a href="https://news.suibe.edu.cn/12514/list.htm">
        <img src="./微信图片_20231113171357.jpg" width="100px" height="80px" title="媒体报道"></a>
    <a href="https://news.suibe.edu.cn/12514/list.htm">
        <img src="./微信图片_20231113171357.jpg" width="100px" height="80px" title="专题网站"></a>

  </div>
</body>
</html>
